body {
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}


.landingPageContainer{
  width:100vw;
  height:100vh;
  background: url('/public/Gemini_Generated_Image_3bplr83bplr83bpl.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* color:white; */
}

.landingPageContainer nav{
padding-inline: 1.2rem;
padding-block:1.6rem;
display: flex;
justify-content: space-between;
}

.navlist{
  display: flex;
  gap:30px;
  font-size: 25px;
  color: white;
  font-weight: 600;
  margin-top: -2px;  /*badme set karsakte but check karlo */
}

.button{
  background-color: #000000;
  color: white;
  width: 90px;
  height: 40px;
margin-top: 20px;
  border-radius: 10px;
}

.login{
  margin-top: 5px;
  margin-left: 10px;
}

.landingPageMainContainer{
  display: flex;
  justify-content: space-between;
}

.getstart{
  
  color: white;
  background-color: #2196F3;
  background-color: #2196F3;
  color: white;
  width: 100px;
  height: 40px;
margin-top: 30px;
  border-radius: 10px;
  font-weight: 600;
}

.p{
 margin-top: 15px;
  margin-left: 10px;
}

.txt{
  color: white;
  font-size: 4rem;
}

.MainPageTxtArea{
  margin-left: 40px;
}

.img{
  margin-right: 6rem;
  height:450px;
  width:auto;
  margin-bottom: 10px !important;
}

.button1{
  
background-color: #000000;
  color: white;
  width: 125px;
  height: 50px;
margin-top:-30px;
  border-radius: 10px;

}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}


.phoneimage {
  max-width: 50%;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  
}

.meetContainer{
  display:flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel{
  height:100%;
  display:flex;
  align-items: center;
}

.rightPanel{
  display:flex;
  align-items:center;
}

.rightPanel > img{
  width:30vw;
  height:auto;
  border-radius: 20px;
}